<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link href="../css/frame.css" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900" rel="stylesheet"/>
		<link href="style.css" rel="stylesheet"/>
	</head>
	<body>
		<div style="margin: 0 auto;font-size: 32px;text-align: center;padding-top: 10%;"><div style="background-image: url(checkmark_complete_correct_done_yes_128px_1225514_easyicon.net.ico);height: 128px;width: 128px;margin: 0 auto;padding-bottom: 5%;background-repeat: no-repeat;"></div> 注册成功！您的ID:{{js.id}}</div>
	</body>
</html>
